div{
    overflow: hidden;
}

p{
    text-align: center;
}

@font-face {
  font-family: Font;
  src: url(Merriweather-Regular.ttf);
}

h1, h2, h3, h4, h4, h5, p{
    font-family: Font;
}

.mainpage{
    background: url(IEM%20K-02.jpg) left center ;
    height: 100%;
}

.navbar{
    background: rgba(255,255,255,0.8);
    padding: 12px;
}

.mainpage img{
    width: 160px;
    margin-top: -16px;
    margin-left: 10px;
}

.line{
    display: inline-block;
    border-right: solid 2.5px #fe0000ff;
    height: 80px;
    margin-left: 10px;
    margin-top: 8px;
}

.logo{
    display: inline-block;
    color: #fe0000ff;
    margin-left: 15px;
    margin-top: -20px;
     vertical-align:super;
}

.logo h2{
    font-size: 25px;
}

.mainp1{
    height: 105px;
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 20px 30px;
    position: relative;
    top: 200px;
}

.mainp1 h1{
    font-size: 25px;
    font-weight: 600;
}

.mainp1 h3{
    font-size: 18px;
    font-weight: 500;
    border-top: solid 2px white;
     padding-top: 5px;
}

.mainp2{
    background: #3b5999ff;
    text-align: center;
    color: white;
    padding: 30px 30px;
    position: relative;
    bottom: 110px;
}

.mainp2 h5{
    font-size: 15px;
}

.mainp2 h1{
    font-weight: 500px;
    font-size: 35px;
}

.mainp2 img{
    width: 150px;
    margin: 0px 0 10px;
}

.mainp2 h3{
    border-top: solid 2px white;
    font-size: 20px;
    padding-top: 7px;
    margin-bottom: 10px;
}

.condition{
    text-align: left;
    font-size: 10px;
}

.btn{
    background: #fe0000ff;
    color: white;
    margin-top: -20px;
    margin-bottom: -20px;
}

.btn h2{
    font-size: 20px;
    margin-bottom: -1px;
}

.pg1head h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.page1{
    margin: 40px auto 20px;
    width: 90%;
}

.streams{
    margin: 0 auto;
    width: 90%;
}

.stream{
    display: inline-block;
    border-radius: 10px;
    width: 200px;
    height: 44px;
    text-align: center;
    color: white;
    margin: 15px 10px 35px; 
}

.stream h3{
    font-size: 15px;
    
}

.st1 h3, .st2 h3{ 
    margin-top: 5px;
}

.st3 h3, .st4 h3, .st5 h3{ 
    line-height: 44px;
}

.st1{
    background: #fec106ff;
}

.st2{
    background: #525ddbff;
}

.st3{
    background: #17a2b8ff;
}

.st4{
    background: #28a744ff;
}

.st5{
    background: #32397fff;
}

.page1 p{
    font-size: 15px;
    margin: 0 0 35px;
}

.rankcon{
    width: 90%;
    margin: 15px auto;
}

.rank{
    display: inline-block;
    width: 30%;
    margin: 0 15px;
    height: 250px;
    border: solid 2px black;
    padding: 20px;
    text-align: center;
}

.rank1{
    display: inline-block;
    width: 96.15%;
    margin: 0 15px;
    height: 200px;
    border: solid 2px black;
    text-align: center;
}

.rank1 .text{
    display: inline-block;
    margin-top: 22px;
}

.rank1 img{
    margin-top: -220px;
}

.ranknum{
    font-size: 30px;
    font-weight: 700;
    color: #3b5997ff;
}

.rank p{
    font-size: 14px;
}

.r1 img{
   margin-top: -20px;

}

.r2{
    padding-top: 34px;
}

.r4 img{
   margin-top: -30px;

}

.r5{
    padding-top: 43px;
}

.r6{
    padding-top: 48px;
}

.page2{
    background-color: #e6e6e6ff;
    padding: 30px;
}

.page2 img{
    width: 80px;
}

.ap1, .ap2{
    display: inline-block;
    width:49.8%; 
    text-align: center;
    border-bottom: solid 2px black;
}

.ap1{
    border-right: solid 2px black;
    position: relative;
    left: 5px;
}
.ap3{
    text-align: center;
}

.ap h3, .ap3 h3{
    color: #3b5997ff;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
}

.apimg{
    width: 80px;
    height: 80px;
    margin: 20px 30px 25px;
    display: inline-block;
    border-radius: 80px;
}

.page3{
    padding: 40px 0;
}

.pl1{
    display: inline-block;
    margin-top: 15px;
    padding: 0 30px 20px;
}

.page3 h4{
    font-size: 20px;
    font-weight: 600;
    color: #3b5997ff;
    margin-bottom: 15px;
}

.pl1 p{
    text-align: left;
}

.place{
    width: 65%;
    margin: 0 auto;
}

.page3 .fas{
    color: #fe0000ff;
}

.pl3{
    display: inline-block;
    margin: 0 20px;
}

.pl3con{
    width: 46%;
    margin: 0 auto;
}

.p1{
    border-bottom: solid 2px #ddd;
    border-right: solid 2px #ddd;
    position: relative;
    left: 4px;
}

.p2{
    border-bottom: solid 2px #ddd;
}

.plnum{
    color: #fe0000ff;
    font-size: 22px;
    font-weight: 900;
    margin-left: 10px;
}

.page5{
    background: #3b5997ff;
    color: white;
    padding: 30px 0;
    text-align: center;
}
.ae{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    height: 100px;
}

.exam{
    display: inline-block;
    margin: 0 5px;
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px 40px 0;
}

.exam h5{
    font-size: 15px;
}

.ae h3{
    font-size: 20px;
}

.rec{
    background: white;
    width: 100%;
    padding: 30px;
}

.rec h1{
    color: black;
}

.rec p{
    color: #3b5997ff;
    font-size: 14px;
    font-weight: 700;
}

.ach{
    width: 30%;
    display: inline-block;
}

.award{
    width: 98%;
    height: 160px;
    padding: 20px 40px;
    background: url(IEM%20K%20Assets-25.jpg) no-repeat;
    background-size: 98%;
    margin: 20px 10px;
    display: inline-block;
}

.award p{
    font-size: 13px;
}

.aw1 p{
    margin-top: 12px;
}

.aw2 p{
    margin-top: 8px;
}
.aw3 p{
    margin-top: 9px;
}
.aw4 p{
    margin-top: 10px;
}
.aw5 p{
    margin-top: 15px;
}

/*caraousel*/
.logo-slider {
	background: white;
	-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo-slider::before, .logo-slider::after {
	background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 175px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.logo-slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.logo-slider::before {
	left: 0;
	top: 0;
}

.logo-slider .logo-slide-track {
	-webkit-animation: logo-scroll 10s linear infinite;
	animation: logo-scroll 10s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .logo-slide-track2 {
	-webkit-animation: logo-scroll 60s reverse infinite;
	animation: logo-scroll 60s linear reverse infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 150px;
	width: 250px;
	padding: 20px;
}

@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 3));
		transform: translateX(calc(-250px * 3));
	}
}

.add{
    display: inline-block;
    height: 160px;
    margin: 0 20p;
    padding: 0 40px;
}

.address{
    padding: 35px 0px 10px;
    border-bottom: solid 1px white;
    margin: 0 30px;
}

.add2{
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.add p{
    font-size: 14px;
}

.copy{
    position: relative;
    top: 12px;
}

/*graph 1*/




#skills {
  margin: 60px auto 0;
  position: relative;
  width: 98%;  
    overflow: visible;
    height: 400px;
    bottom: 50px;
}

#apps {
  float: left;
  text-align: right;
  width: 19%;
}

#apps p {
  padding:  0;
  position: relative;
  text-align: right;
  z-index: 2;
    margin: 15px 10 32px;
    font-weight: 600;
}

#scale {
  padding-bottom: 90px;
  position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    overflow: visible;
}

#scale p {
  position: absolute;
    bottom: 0px;
    left: -0.30%;
    overflow: visible;
}

#scale p.one { left: 11%; }
#scale p.two { left: 22%; }
#scale p.three { left: 33%; }
#scale p.four { left: 44%; }
#scale p.five { left: 55%; }
#scale p.six { left: 66%; }
#scale p.seven { left: 77%; }
#scale p.eight { left: 88%; }

.grid {
  border-left: 1px dotted #374584ff;
  border-bottom: 1px dotted #374584ff;
  float: left;
  padding: 10px 0;
  position: relative;
  width: 75%;
  overflow: visible;
}

.bar {
  float: left;
  height: 35px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.bar .inner {
  background-color: #374584ff;
  position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
   
}


.bar.pct-1 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 89%;
}

.bar.pct-2 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 65%;
}

.bar.pct-3 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 90%;
}

.bar.pct-4 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 10%;
}

.bar.pct-5 .inner {  
  -webkit-animation-duration: 5s;
  -webkit-animation-name: grow-50;
  right: 87%;
}

.v-divider {
  border-right: 1px dotted #374584ff;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one { right: 75%; }
.v-divider.two { right: 50%; }


.bar1, .bar2, .bar3, .bar4, .bar5{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
}


.bar1{
    right: 81%;
}
.bar2{
     right: 56%;
}
.bar3{
     right: 82%;
}
.bar4{
     right: 3%;
}
.bar5{
     right: 81%;
}

/*graph 2*/

@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

#bar-chart {
  height: 380px;
  width: 70%;
  position: relative;
  margin: 50px auto 0;
    overflow: visible;
}
#bar-chart * {
  box-sizing: border-box;
      overflow: visible;
}
#bar-chart .graph {
  height: 283px;
  position: relative;
}
#bar-chart .bars {
  height: 253px;
  padding: 0 2%;
  position: absolute;
  width: 100%;
  z-index: 10;
    top: -20px;
}
#bar-chart .bar-group {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  width: 12%;
  margin-right: 10%;
}
#bar-chart .bar-group:last-child {
  margin-right: 0;
}
#bar-chart .bar-group .bargr {
  visibility: hidden;
  height: 0;
  -webkit-animation: animate-height;
  -moz-animation: animate-height;
  animation: animate-height;
  animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #2d2d2d;
  border-radius: 3px 3px 0 0;
  bottom: -85;
  cursor: pointer;
  height: 0;
  position: absolute;
  text-align: center;
  width: 25%;
}
#bar-chart .bar-group .bargr:nth-child(2) {
  left: 25%;
}
#bar-chart .bar-group .bargr:nth-child(3) {
  left: 50%;
}
#bar-chart .bar-group .bargr:nth-child(4) {
  left: 75%;
}
#bar-chart .bar-group .bargr span {
  display: none;
}
#bar-chart .bar-group .bar-1 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
#bar-chart .bar-group .bar-2 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#bar-chart .bar-group .bar-3 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
#bar-chart .bar-group .bar-4 {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#bar-chart .bar-group .bar-5 {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
#bar-chart .bar-group .bar-6 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#bar-chart .bar-group .bar-7 {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
#bar-chart .bar-group .bar-8 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#bar-chart .bar-group .bar-9 {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
}
#bar-chart .bar-group .bar-10 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
#bar-chart .bar-group .bar-11 {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}
#bar-chart .bar-group .bar-12 {
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}
#bar-chart .bar-group .bar-13 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
#bar-chart .bar-group .bar-14 {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}
#bar-chart .bar-group .bar-15 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}

#bar-chart .bar-group .bar-16 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}

#bar-chart .bar-group .bar-17 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
#bar-chart .bar-group .bar-18 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
#bar-chart .bar-group .bar-19 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
#bar-chart .bar-group .bar-20 {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}
#bar-chart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#bar-chart .x-axis {
  bottom: -90px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#bar-chart .x-axis li {
  float: left;
/*  margin-right: 10.5%;*/
    margin: 0 38px;
  font-size: 11px;
  width: 11.5%;
}
#bar-chart .x-axis li:last-child {
  margin-right: 0;
}
#bar-chart .y-axis {
  position: absolute;
  text-align: right;
  width: 100%;
}
#bar-chart .y-axis li {
  border-top: 1px solid #4e5464;
  display: block;
  height: 63.25px;
  width: 100%;
}
#bar-chart .y-axis li span {
  display: block;
  font-size: 11px;
  margin: -10px 0 0 -60px;
  padding: 0 10px;
  width: 40px;
}
#bar-chart .stat-1 {
  background: #29aae3ff;
}
#bar-chart .stat-2 {
  background: #0071bdff;
}
#bar-chart .stat-3 {
  background: #2e3192ff;
}

#bar-chart .stat-4 {
  background:#1b1464ff;
}

.graph2{
    background: #e6e6e6ff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
}

/*MOBILE UI----------------------------------*/
/*MOBILE UI----------------------------------*/

@media only screen and (max-width: 600px){
    .navbar img{
        width: 100px;
    }
    .line{
    height: 60px;
    margin-left: 2px;
    margin-top: -10px;
}

.logo{
    
    margin-left: 2px;
    margin-top: -20px;
     vertical-align:super;
}

.logo h2{
    font-size: 15px;
}
    .mainpage{
        height: 1000px;
    }
    
 .mainp1{
    height: 80px;
    padding: 10;
    position: relative;
    top: 80px;
}   
    
    .mainp1 h1{
        font-size: 16px;}
    
    .mainp2{
    
        width: 90%;
        margin: 0 auto;
    padding: 15px;
    position: relative;
    top: 150px;
}
    .condition p{
        text-align: left;
    }
    
    .stream{
    
    width: 90px;
    height: 44px;
    text-align: center;
    color: white;
    margin: 0; 
}
    
    .streams{
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }

.stream h3{
    font-size: 10px;
    
}
    .mobabout p{
        font-size: 12px;
    }
    
    .rankcon{
        width: 100%;
    }
    .rank{
    width: 32%;
    margin: 0 0px;
    height: 200px;
    padding: 0px;
    text-align: center;
}
    .rank p{
        font-size: 10px;
    }
    
    .ranknum{
    font-size: 12px;
    font-weight: 700;
    color: #3b5997ff;
}
    
    .rank1{
        padding: 0;
        width: 100%;
        margin: 0;
        height: 130px;
    }
    .rank1 img{
        width: 30px;
        margin-top: -140px;
    }
    
    .rank1 p{
        font-size: 10px;
    }
    
    .ap1, .ap2{
    width:49.0%;  
        padding: 0 5px 10px;
    }
    
    .page2 img{
        width: 42px;
    }
    
    .ap .apimg{
        width: 42px;
        height: 42px;
        margin: 0;
    }
    
    .ap3 .apimg{
        width: 42px;
        height: 42px;
        margin: 0;
    }
    
    .page2 h3{
        font-size: 15px;
    }
    
    .page2{
        padding: 20px 0;
    }
    
    .place{
    width: 95%;
    margin: 0 auto;
}

.pl3{
    display: inline-block;
    margin: 0 0px;
    width: 48%;
}

.pl3con{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.p1{
    position: relative;
    left: 4px;
    width: 48%;
}

.p2{
    border-bottom: solid 2px #ddd;
     width: 48%;
}

.plnum{
    color: #fe0000ff;
    font-size: 18px;
    font-weight: 900;
    margin-left: 0px;
}
 
    .page3 h4{
        font-size: 15px;
    }
    
    .page3 p{
        font-size: 12px;
    }
    
    .pl1{
    margin-top: 15px;
    padding: 5px;
}
    
    .achieve{
        margin-top: -20px;
    }

    #apps p {
    margin: 9px 0 0px;
    font-size: 8px;
}
    
    .bar{
        height: 25px;
        margin-bottom: 8px;
    }
    
    
    
    .apps3{
        position: relative;
        top: 4px;
    }
    .apps4{
        position: relative;
        top: 5px;
    }
    
    .apps5{
        position: relative;
        top: 5px;
    }
    
    .apps6{
        position: relative;
        top: 5px;
        overflow: visible;
    }

    .bar1, .bar2, .bar3, .bar4, .bar5{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
}


.bar1{
    right: 71%;
}
.bar2{
     right: 44%;
}
.bar3{
     right: 72%;
}
.bar4{
     right: -1%;
}
.bar5{
     right: 73%;
}
    .bar.pct-4 .inner {  
  -webkit-animation-duration: 3s;
  -webkit-animation-name: grow-75;
  right: 15%;
}
    #scale p{
        font-size: 10px;
    }
    .graph2{
        display: none;
    }
    
    .mobgraph{
        width: 95%;
       
    }
    .mob{
        position: relative;
        bottom: 150px;
        text-align: center;
        margin-bottom: -100px;
    }
    
    .ae{
    display: inline-block;
    margin: 0 20px 10px;
    text-align: center;
    height: auto;
}

.exam{
    display: inline-block;
    margin: 0 0px;
    padding: 10px 20px 0;
}

.exam h5{
    font-size: 10px;
}

.ae h3{
    font-size: 15px;
}
    
    .ae3{
        padding-top: 24px;
        margin-bottom: 20px;
    }
    
    .rec .col-4{
        margin: 0;
        padding: 0;
    }
    
    .rec p {
        font-size: 4px;
    }
    
    .ach{
        width: 49%;
    }
    
    .award{
    width: 100%;
    height: 60px;
    padding: 10px 12px;
    background: url(IEM%20K%20Assets-25.jpg) no-repeat;
    background-size: 100%;
    margin: 0px 0 10px;
    display: inline-block;
}

.award p{
    font-size: 7px;
}
    
    .aw1 p{
        margin-top: 2px;
    }
    .aw2 p{
        margin-top: 3px;
    }
    .aw3 p{
        margin-top: 5px;
    }
    .aw4 p{
        margin-top: 5px;
    }
    .aw5 p{
        margin-top: 8px;
    }
    .logo-slider .slide {
	height: 100px;
	width: 133.3px;
	padding: 10px;
       
}
    .logo-slider .slide img{
     height: 90px;
	width: 120px;
    }
    
    .add{
    display: inline-block;
    height: 160px;
    margin: 0;
    padding: 3px;
    width: 32%;
}

.address{
    padding: 35px 0px 10px;
    border-bottom: solid 1px white;
    margin: 0 30px;
}

.add2{
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.add p{
    font-size: 7px;
}

    .add h5{
        font-size: 15px;
    }
    
.copy{
    position: relative;
    top: 12px;
    font-size: 10px;
}
    .pg1head h1{
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px){
    .mob{
        display: none;
    }
    
    .mainp2{
        left: 50px;
    }
}
